header {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  padding: 1%;
  display: block;
  text-align: center;
}

.header-section {
  display: inline;
}

#title-navs {
  text-align: center;
  display: inline-block;
}

/* PROFILE PICTURE */


#profile-pic {
  width: 50%;
}

#profile-pic-sect {
  float: left;
}



#title {
  font-size: 400%;
  white-space: nowrap;
}

#occupation {
  white-space: nowrap;
}




/*nav {
  white-space: nowrap;
}*/

/*#nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}*/

.page-links {
  border: 0.2em solid black;
  border-radius: 15%;
  padding: 0.5em;
  display: inline-block;
  top: 50%;
}

a {
  text-decoration: none;
  color: blue;
}
a:hover {
  font-weight: bold;
}




/* HEADER */

/* LINKEDIN & GITHUB PICS */
/*
#contact-pics {
  display: inline;
  float: right;
  margin-top: -15%;
  width: 50%

}
#contact-pics img {
  display: inline-block;
}
#linkedin-pic {
  width: 30%;
  float: right;
}
#github-pic {
  width: 30%;
  float: right;
}
