header {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.header-sect {
  display: inline-block;
}

#profile-pic-sect {
  height: 15em;
  width: 30%;
  float: left;
}
#profile-pic {
  height: 14em;
  margin-top: 2.5%;
}

#title-sect {
  height: 15em;
  width: 37%;
  text-align: center;
}
#title-name {
  font-size: 300%;
  margin-bottom: 0%;
}
#title-occupation {
  font-size: 150%;
  margin-top: 0%;
}
#header-nav {
  width: 100%;
}
.page-links {
  display: inline-block;
  border: 0.2em solid black;
  border-radius: 15%;
  padding: 1%;
}
.page-links a {
  text-decoration: none;
}
.page-links a:hover {
  color: red;
}

#contact-pics-sect {
  height: 15em;
  width: 30%;
  float: right;
  margin-right: 2%;
}
#github {
  width: 43%;
  margin-top: 12%;
}
#github-a {
  vertical-align: middle;
}
#linkedin {
  width: 43%;
  margin-top: 16%;
}
#linkedin-a {
  vertical-align: middle;
}
