#main-header {
  display: block;
}

#title {
  display: inline-block;
  text-align: center;
  height: 50%;
  width: 25%;
}
nav {
  display: inline-block;
  padding-bottom: 1em;
  text-align: center;
  width: 48%;
}

/*This affects the list items in the nav bar but not the links themselves*/
.page-link-li {
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
}

.page-link-a {
  text-decoration: none;
  font-size: 1.3em;
}

section {
  display: inline-block;
  padding-bottom: 1em;
  text-align: center;
  width: 25%;
}

.social-media-images {
  height: 2.5em;
  width: 2.5em;
  transform: translateY(25%);
}
