body {
  background-image: url('http://data.hdwallpapers.im/coding_source_code_hd.jpg');
  background-color: blue;
}

h2 {
  white-space: nowrap;
  text-align: center;
}


main {
  clear: both;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}

article {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  padding: 2%;
  margin: 1%;
}

article p {
  font-size: large;
}

li {
  font-size: large;
}


#projects-main {
  text-align: center;
  padding: 10%;
}

.projects-section {
  width: 28%;
  padding: 2%;
  display: inline-block;
  background-color: #6f84f0;
  text-align: center;
}

.projects-link {
  color: black;
}

#commendation-p {
  text-align: center;
}

#commendation-pic {
  width: 80%;
}
