body {
  background-color: #525252;
}

#container {
  position:relative;
  height:0;
  padding-bottom:56.25%;
  width:100%;
  background-color: transparent;
}

#iframe {
  z-index: -2;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.index-article {
  background-color: white;
  text-align: center;
}

h1 {
  padding-top: 0.8em;
}

p {
  font-size: 1.5em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-bottom: 0.8em;
}

#skill-table {
  margin: auto;
}

.skill-table-data {
  text-align: center;
  border: 0.3em solid white;
  background-color: #ccebff;
  border-radius: 5em;
  padding: 0.3em;
  height: 1.5em;
  width: 10.2em;
}