body {
  background-color: #525252;
}

#container {
  position:relative;
  height:0;
  padding-bottom:56.25%;
  width:100%;
  background-color: transparent;
}

#iframe {
  z-index: -2;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#about-me-article {
  background-color: white;
  text-align: center;
}