#main-header {
  display: block;
}

#title {
  display: inline-block;
  margin-left: 4em;
}
nav {
  display: inline-block;
  margin-right: -4em;
}

/*This affects the list items in the nav bar but not the links themselves*/
.page-link-li {
  display: inline-block;
  margin-left: 1em;
}

.page-link-a {
  text-decoration: none;
}
