body {
  background-image: url('http://data.hdwallpapers.im/coding_source_code_hd.jpg');
  /*height: 100%;*/
}

header {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  padding: 1%;
  display: block;

}

/* PROFILE PICTURE */

#profile-pic-sect {
  display: inline;
}
#profile-pic {
  width: 20%;
}

/* HEADER */

#header-wrapper {
  text-align: center;
  display: inline-block;
}

h1 {
  margin-left: 25%;
  font-size: 400%;
  white-space: nowrap;
}

#title {
  margin-left: 50%;
  margin-right: 50%;
  white-space: nowrap;
}
h2 {
  white-space: nowrap;
  text-align: center;
}
nav {
  margin-left: 40%;
  white-space: nowrap;
}

#nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-links {

  border: 0.2em solid black;
  border-radius: 15%;
  padding: 0.5em;
  display: inline-block;
}

a {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: #cc0000;
  font-weight: bold;
}



/* LINKEDIN & GITHUB PICS */

#contact-pics {
  display: inline;
  float: right;
  margin-top: -15%;
  width: 50%

}
#contact-pics img {
  display: inline-block;
}
#linkedin-pic {
  width: 30%;
  float: right;
}
#github-pic {
  width: 30%;
  float: right;
}


main {
  clear: both;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}

article {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  padding: 2%;
  margin: 1%;
}

article p {
  font-size: large;
}

li {
  font-size: large;
}


#projects-main {
  text-align: center;
  padding: 10%;
}

.projects-section {
  width: 28%;
  padding: 2%;
  display: inline-block;
  background-color: #6f84f0;
  text-align: center;
}

.projects-link {
  color: black;
}

#commendation-p {
  text-align: center;
}

#commendation-pic {
  width: 80%;
}
